///////////////////////////////////////////////
// преимущества недостатки


.sc_plusminus {
  background: $c-gray-lighter url("../img/bk-half.png") top center repeat-y;
  color: $c-black;

  @include media-breakpoint-down(sm) {
    background: $c-gray-lighter;
  }

}

.content-plusminus {

}

.block-plusminus {
  margin-bottom: 3rem;
  margin-right: 3rem;

  @include media-breakpoint-down(xs) {
    margin-right: 0;
  }

}































