///////////////////////////////////////////////
// преимущества недостатки


.sc_plusminus {
  background-color: $c-gray-lighter;
  color: $c-black;
}

.content-plusminus {

}

.block-plusminus {
  margin-bottom: 3rem;
}































