.modal {
	top: 25%;

	@include media-breakpoint-down(sm) {
		top: 0;
	}

}

.modal-dialog {

	.modal-content {
		padding: 0 !important;
		color: $c-gray-dark !important;
		background: $c-orange;
	}

	.modal-header {
		position: relative;
		padding: 1.5rem 3rem;
		margin: 0;
		color: $c-white;
		border-color: transparent;

		@include media-breakpoint-only(xs) {
			padding: 1.5rem;
		}

		.mainhdr {
			font-size: $font-size-h2;
			color: $c-black;
			text-shadow: none;
			margin: 1.5rem 0 0 0;
		}

		button.close {
			position: absolute;
			top: 0.5rem;
			right: 1rem;
			color: $c-white;
			font-size: 3rem;
			font-weight: normal;
		}

	}

	.modal-body {
		padding: 0 3rem 3rem 3rem;
		max-height: 40vh;
		overflow-y: auto;
		@include clearfix;

		@include media-breakpoint-only(xs) {
			padding: 0.5rem 1.5rem;
			max-height: initial;
		}

		&__note {
			font-size: $font-size-basemin;
			color: $c-black;
		}

		label {
			color: $c-white;
			margin-bottom: 0.5rem;
		}

		input[type="text"],
		input[type="tel"] {
			border-color: transparent;
			opacity: 0.85;
			padding: 2rem;
		}

	}

	button[type="submit"] {
		margin-top: 3rem;
	}

}

#modal_call {

	.modal-content {
		background: $c-orange url("../img/bk-call.svg") 100%+5 100%+10 no-repeat;
	}

}











