///////////////////////////////////////////////
// index.html



.sc_idx_collage {
	height: 100vh;
	background-color: $c-gblue-dark;
	background-image: url("../img/cl1.jpg");
	background-position: left 50%;
	background-size: cover;
	padding-bottom: 0;

	.collage__slogan {
		font-family: $font-family-hdr-bold;
		font-size: 7rem;
		line-height: $line-height-p;
		color: $c-white;
		margin-bottom: 10%;
		text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);

		@include media-breakpoint-only(mx) {
			font-size: 3rem;
			margin-top: -3rem;
			margin-bottom: 4rem;
		}

		@include media-breakpoint-down(sm) {
			font-size: 3rem;
			margin: 0 auto 30% 3rem;
		}

	}

	.collage__dwnbtn {
		position: absolute;
		bottom: 0;
		width: 50px;
		height: 140px;
		background: url("../img/bkdot-r.svg") top center repeat-y;

		@include media-breakpoint-only(mx) {
			height: 80px;
		}

		@include media-breakpoint-down(sm) {
			height: 80px;
		}

		.dwnbtn {
			display: block;
			background: $c-orange-dark url("../img/i-down.svg") 50% 50% no-repeat;
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}

	}

}



.sc_idx_agency {
	background-color: $c-white;
	background-image: url("../img/bk-s1.svg");
	background-position: right bottom;
	background-repeat: no-repeat;
	color: $c-gray;

	@include media-breakpoint-down(lg) {
		background-size: 70%;
	}

	@include media-breakpoint-only(mx) {
		background-size: 50%;
	}

	@include media-breakpoint-only(sm) {
		background-size: 50%;
	}

	@include media-breakpoint-down(xs) {
		background-size: 100%;
	}

	.idx_agency__text {
		margin-bottom: 6rem;

		@include media-breakpoint-down(mx) {
			margin-bottom: 1.5rem;
		}

	}

	.block-cifr {
		margin-bottom: 3rem;

		.cifr__val {
			font-family: $font-family-hdr;
			font-weight: bold;
			font-size: 10rem;
			color: $c-black;
			line-height: 1;

			@include media-breakpoint-down(mx) {
				font-size: 6rem;
			}

			.spin-numb {
				color: $c-orange-dark;
			}

			.cifr__sup {
				font-size: 5rem;
				position: relative;
				top: -4.5rem;
				left: 1rem;

				@include media-breakpoint-down(mx) {
					font-size: 3rem;
					top: -2.5rem;
				}

			}

		}

		.cifr__prop {
			font-size: $font-size-basemax;
			font-weight: bold;
			margin-top: 0.5rem;
			color: $c-black;
		}

	}

}



.sc_idx_services {
	background-color: $c-orange-dark;
	background-image: url("../img/bk-s2.svg");
	background-position: right bottom;
	background-repeat: no-repeat;
	color: $c-white;

	@include media-breakpoint-down(lg) {
		background-size: 70%;
	}

	@include media-breakpoint-only(mx) {
		background-size: 50%;
	}

	@include media-breakpoint-only(sm) {
		background-size: 50%;
	}

	@include media-breakpoint-down(xs) {
		background-size: 100%;
	}

	.idx_services {
		margin-top: 5rem;
		margin-bottom: 3rem;
	}

	.block-serv {

		.serv__icon {
			margin-bottom: 2rem;

			img {
				width: 150px;
				height: auto;

				@include media-breakpoint-down(mx) {
					width: 120px;
				}

			}

		}

		.serv__txt {
			color: $c-white;
			font-size: $font-size-basemax;

			@include media-breakpoint-down(mx) {
				font-size: $font-size-basemin;
			}

			.hdr {
				min-height: 6rem;
				font-family: $font-family-hdr;
				font-size: 2.5rem;
				font-weight: bold;
				line-height: $line-height-hdr;
				color: $c-orange-light;
				text-transform: uppercase;

				@include media-breakpoint-down(mx) {
					font-size: 1.8rem;
					min-height: 4rem;
				}

				@include media-breakpoint-down(xs) {
					min-height: auto;
				}

			}

			ul {
				padding: 0 0 1.5rem 2.2rem;

				@include media-breakpoint-down(mx) {
					padding: 0 0 1.5rem 1.8rem;
				}

				li {
					margin: 1rem auto;

					@include media-breakpoint-down(mx) {
						margin: 0.7rem auto;
					}

				}

			}

		}

	}

}



.sc_idx_solutions {
	background-color: $c-gray-lightermore;
	background-image: url("../img/bk-s3.svg");
	background-position: right top;
	background-repeat: no-repeat;
	color: $c-gray;

	@include media-breakpoint-down(lg) {
		background-size: 70%;
	}

	@include media-breakpoint-only(mx) {
		background-size: 50%;
	}

	@include media-breakpoint-only(sm) {
		background-size: 50%;
	}

	@include media-breakpoint-down(xs) {
		background-size: 100%;
	}

	.idx_solutions {
		margin-top: 5rem;
		margin-bottom: 3rem;
	}

}



.sc_idx_projects {
	background-color: $c-white;
}



.sc_idx_clients {
	background-color: $c-gblue-dark;
}



.sc_idx_contacts {
	background-color: $c-gray-lightermore;
}



