///////////////////////////////////////////////



// кнопки



.btn {
	font: bold $font-size-base $font-family-base;
	color: $c-white;
	padding: 1.5rem 3rem 1.6rem 3rem;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: $border-radius;
	background-color: $color-link;
	line-height: $line-height-min;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);

	&:hover {
		background-color: $color-link-hover;
		color: $c-white;
	}

	i {
		margin-right: 0.8rem;
		font-weight: normal;
		font-size: 2.1rem;
	}

}

.b-more {
	display: inline-block;
	background: $color-link;
	border: none;
	border-radius: 3rem;
	color: $c-white;
	padding: 0.5rem 3rem 0.6rem 3rem;
	font-family: $font-family-hdr;
	font-size: 1.5rem;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	transition: background-color 0.8s ease;

	&:hover {
		background: $color-link-hover;
		color: $c-white;
	}

	i {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}

}

.b-sc-more {
	display: block;
	width: 28rem;
	background: $color-link;
	border: none;
	border-radius: 6rem;
	color: $c-white;
	padding: 1.5rem 3rem 1.6rem 3rem;
	font-family: $font-family-hdr;
	font-size: $font-size-basemax;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	transition: background-color 0.8s ease;
	margin: 3rem auto;

	@include media-breakpoint-down(mx) {
		margin: 1.5rem auto;
	}

	&:hover {
		background: $color-link-hover;
		color: $c-white;
	}

	i {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}

}


.b-link {
	font: bold $font-size-base $font-family-base;
	color: $c-white;
	padding: 1rem 5rem;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 6rem;
	background-color: $color-link;
	line-height: $line-height-min;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);

	&:hover {
		background-color: $color-link-hover;
		color: $c-white;
	}

}



.b-close {
	border: none;
	background: none;
	position: absolute;
	top: 1.5rem;
	right: 2rem;
	z-index: $zindex-modal + 1;
	display: inline-block;
	padding: 0.5rem;
	font: 2.1rem $fontawesome;
	font-weight: lighter;
	color: transparentize($c-white, 0.25);

	@include media-breakpoint-down(xs) {
		top: 1rem;
		right: 1.2rem;
	}

	&:after {
		content: "\f00d";
	}

	&:hover {
		color: $c-white;
	}

}






