///////////////////////////////////////////////



// таблицы


.table {
	margin-top: 0;
	margin-bottom: 3rem;
	background-color: $c-white;

	th {
		padding: 0.8rem 0.5rem;
		background: $c-gray-lightermore;
		line-height: $line-height-min;
		font-size: $font-size-fixsm;
		color: $c-black;
		border-left: solid 1px $c-white;
		text-align: center;
		vertical-align: center !important;

		a {
			text-decoration: none;
			color: $c-black;
		}

		&:first-child {
			border-left: 0;
		}

	}

	td {
		padding: 0.8rem 1rem !important;
		line-height: $line-height-def;
		vertical-align: middle !important;
	}

	@include media-breakpoint-down(xs) {
		th,
		td {
			font-size: $font-size-basemin;
			padding: 0.5rem !important;
		}
	}

}






.td--price {
	text-align: right !important;
	color: $c-orange-dark;
	white-space: nowrap;
}

.td--cart {
	padding: 0 !important;
	width: 1%;

	button,
	a {
		display: inline-block;
		border: none;
		background: $c-white;
		color: $color-link;
		padding: 0.5rem 1rem;
		margin: 0;

		i {
			font-size: 1.6rem;
		}

		&:hover {
			color: $color-link-hover;
		}

	}

}


.th--up {
	margin-right: -5px;

	&:after {
		font-family: $fontawesome;
		font-weight: bold;
		font-size: 14px;
		color: $c-gray-lighter;
		content: '\f0d8';
		margin-left: 0.5rem;
	}

}

.th--down {
	margin-right: -5px;

	&:after {
		font-family: $fontawesome;
		font-weight: bold;
		font-size: 14px;
		color: $c-gray-lighter;
		content: '\f0d7';
		margin-left: 0.5rem;
	}

}


.td--left {text-align: left !important;}
.td--centered {text-align: center !important;}
.td--right {text-align: right !important;}






// таблица на слоях

.divtable {
	margin: 3rem 0;
	background: $c-white;
	color: $c-gray;
	border-top: solid 1px $c-gray-lightermore;

	.row {
		display: flex;
		flex-flow: row wrap;
		border-bottom: solid 1px $c-gray-lightermore;
		margin-top: -1px;
		margin-left: 0;
		margin-right: 0;

		@include media-breakpoint-down(xs) {
			display: block;
			padding-top: 1rem;
			padding-bottom: 1.5rem;
		}

		&.row--th {

			@include media-breakpoint-down(xs) {
				display: none;
			}

		}

		&.row--td {

		}

	}

	&.divtable--hovered {

		.row--td:hover {
			background-color: transparentize($c-gray-lightermore, 0.5);
			cursor: pointer;
		}

	}


	.dt-th {
		padding: 0.8rem 1rem;
		background: $c-gray-lightermore;
		line-height: $line-height-min;
		font-size: $font-size-fixsm;
		color: $c-black;
		border-left: solid 1px $c-white;

		a {
			text-decoration: none;
			color: $c-black;
		}

		&:first-child {
			border-left: 0;
		}

	}

	.dt-td {
		padding: 0.8rem 1rem;
		line-height: $line-height-def;
		vertical-align: middle;
		font-size: $font-size-basemin;

		@include media-breakpoint-down(xs) {
			padding-top: 0.1rem;
			padding-bottom: 0.1rem;
		}

	}

}



