<nav class="nav-main">


	<div class="nav-main__menutoggler" title="Главное меню"><span></span></div>


	<div class="nav-main__bar">

		<a href="https://www.promoting.ru/" class="bar-logo" title="ООО Промотинг">
			<img src="img/logo-sign.svg" class="bar-logo__sign" alt="ООО Промотинг">
			<img src="img/logo-txt.svg" class="bar-logo__txt" alt="ООО Промотинг">
		</a>

		<div class="bar-telicons">
			<a href="#" class="bar-telicons__call bar_button" title="Заказать звонок"></a>
			<a href="tel:+74952152322" class="bar-telicons__phone">+7 495 215 23 22</a>
			<a href="#" class="bar-telicons__promoting bar_button" title="Блог компании"></a>
			<a href="#" class="bar-telicons__instagram bar_button" title="Инстаграм компании"></a>
			<a href="#" class="bar-telicons__facebook bar_button" title="Фэйсбук компании"></a>
		</div>

	</div>


	<div class="nav-main__menu">

		<ul class="animated fadeIn">
			<li><a href="#">Агентство</a></li>
			<li><a href="#">Услуги</a></li>
			<li>
				<a href="#">Проекты</a>
				<ul class="main__menu_sub">
					<li><a href="#">Landing page</a></li>
					<li><a href="#">Корпоративные сайты</a></li>
					<li><a href="#">Интернет-магазины</a></li>
					<li><a href="#">Порталы и сервисы</a></li>
				</ul>
			</li>
			<li><a href="#">Клиенты</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>

	</div>


</nav>





